$color-bg: #579c87;

body{
    background-color: white;
}

header, footer{
    display: flex;
    background-color: $color-bg;
    align-content: center;
    font-family: Nunito, sans-serif;
}

article{
    display: flex;
}