/* GLOBAL */

.menus {
    margin: 160px auto 200px; 
    min-height: 65%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 8% 10%;
    max-width: 800px;
    
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 200px;
        height: 450px;
        padding: 30px;
        border-radius: 3px;
        background-color: transparent;
        text-decoration: none;

        // MENUS //

            /* MENU 1 */

        &--1 {
            background-color: #fcdfdb;
            box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.12), 0 4px 10px 0 rgba(0, 0, 0, 0.12);
    
            
                .menus__title {
                    margin-top: 0;  
                    font-size: $font_size_title;
                    font-weight: 400;
                    font-family: $font_title_enchantee;
                    color: $color-title-menu1;
                    margin-top: 0;
                    margin-bottom: 5px;
                }
    
                .menus__subtitle {
                    font-weight: 400;
                    font-size: $font_size_subtitle;
                    font-style: italic;
                    font-family: $font_menu_enchantee;
                    color: $color-title-menu1;
                    margin: 0;
                }
            }
    
            /* MENU 02 */
    
        &--2 {
            background-color: #fff5fe;
            box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.12), 0 4px 10px 0 rgba(0, 0, 0, 0.12);
    
                .menus__title {
                    font-size: 25px;
                    font-family: $font_title_francaise;
                    margin-top: 0;

                    background-image: -webkit-linear-gradient(left, #e38a12, #7735fe);
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                }
    
                .menus__subtitle {
                    font-weight: 700;
                    font-size: $font_size_subtitle;
                    font-family: $font_menu_francaise;
                    color: $color-title-menu2;
                    margin: 0;
                }
    
            }
    
            /* MENU 03 */  
            
        &--3 {
            background-color: #edefef;
            box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.12), 0 4px 10px 0 rgba(0, 0, 0, 0.12);
    
    
                .menus__title {
                    font-size: $font_size_title;
                    font-family: $font_title_papilles;
                    padding-left: 5px;
                    margin-top: 0;

                    background-image: -webkit-linear-gradient(left, #1f3cdd, #0889fb);
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                }
    
                .menus__subtitle {
                    font-size: $font_size_subtitle;
                    font-family: $font_menu_papilles;
                    color: $color-title-menu3;
                    font-style: italic;
                    margin: 0;
                }
            }
    
            /* MENU 04 */
    
        &--4 {
            background-color: #fdfffd;
            box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.12), 0 4px 10px 0 rgba(0, 0, 0, 0.12);
    
    
                .menus__title {
                    font-size: $font_size_title;
                    font-family: $font_title_gout;
                    font-weight: 500;
                    margin-top: 0;

                    background-image: -webkit-linear-gradient(left, #3e923a, #beff7f);
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;

                }
    
                .menus__subtitle {
                            
                    font-family: $font_menu_gout;
                    color: $color-title-menu4;
                    font-style: italic;
                    font-size: $font_size_subtitle;
                    margin: 0;
                }
    
            }
    }
}

    


